body, footer{
    background-color: black;
    font-family: helvetica, arial, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    font-display: center;
}

h3 {
    margin: 0px;
}

.logo {
    padding-left: 10px;
    height: 50px;
    padding-top: 10px;
    ;

}
.topnav {
    color: seashell;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: underline;
    border-bottom: 1px solid seashell;
    height: 69px;
    z-index: 1;
    
}

.topnav-right {
    display: inline-block;
    float:right;
    margin-top: auto;
    margin-bottom: auto;
    padding: 16px 24px;
}

.topnav-right a {
    color: seashell;
    padding: 10px;
  }

.container {
    background-image: url(./images/img-mission-background.jpeg);
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 69px;
    width: 1200px;

}

.text-block {
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    top: 250px;
    margin: auto;
    background-color: black;
    width: 1200px;
    line-height: 15px;
    height: 110px;
    padding: 0 0;
}

.totm-container {
    width: 1000px;
    text-align: center;
    margin: auto;
}

.totm-header {
    margin-bottom: 25px;
}
.specs {
    width: 300px;
    height: 200px;
}

.flex-spec {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content:center;
}
.flex-spec div {
    margin: 10px 10px;
}

h4 {
    margin: 10px;
    margin-bottom: 20px;
}


.locations {
    background-image: url(./images/img-locations-background.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    margin-bottom: 0px;
}

.loc-header {
    text-align: center;
    padding-top: 70px;
}

#locs {
    display: inline-block;
    align-content: center;
    text-align: center;
    list-style: none;
    background-color: black;
    opacity: 1;
    width: 300px;
    line-height: 60px;
    margin: 0 20px;
    vertical-align: middle;
}

.contact {
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    text-align: left;
    font-size: smaller;
}